<ul class="location-list">
  <li class="location-card" *ngFor="let location of locations">
    <div class="location-header">
      <h3>{{ location.label }}</h3>
      <span class="meta">ID: {{ location.id }}</span>
    </div>
    <div class="address">
      <span>{{ location.address.street }} {{ location.address.houseNumber }}</span>
      <span>{{ location.address.postalCode }} {{ location.address.city }}</span>
      <span>{{ countryLabel(location.address.country) }}</span>
    </div>
  </li>
</ul>
